$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-consumption: "\e900";
$icon-icon-personal: "\e901";
$icon-icon-phone: "\e902";
$icon-icon-positioning: "\e903";
$icon-icon-reservation: "\e904";
$icon-icon-star: "\e905";
